[[source]]
url = "https://github.com/739881964/chery_app_test/tree/master"
verify_ssl = false
name = "pypi"

[packages]
pytest = "==7.3.1"
allure-pytest = "==2.13.1"
selenium = "==4.9.0"
PyYAML = "==6.0"
Appium-Python-Client = "==2.8.0"
pytest-yaml = "==1.2.1"

[requires]
python_version = "3.10"
